<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ETGEHubTeens</title>
  <link rel="stylesheet" href="/css/mdb.min.css" >
  <link rel="stylesheet" href="/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/coding-for-teens.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
</head>
<body>
      <!--Navbar-->
        <nav class="navbar fixed-top scrolling-navbar navbar-expand-sm navbar-dark secondary-color my-0" id="navbar">

          <!-- Navbar brand -->
          <a class="navbar-brand mr-auto" href="#">
            <img class="img-responsive" src="/images/eg1.png" id="logo">
          </a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav ml-auto" id="linknav">
              <li class="nav-item active">
                <a class="nav-link" href="#">HOME
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/parents">PARENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/educators">EDUCATORS</a>
              </li>

              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">OUR SERVICES</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/etgeteens/junior">Junior Coders</a>
                  <a class="dropdown-item" href="/etgeteens/elementary">Elementary Coders</a>
                  <a class="dropdown-item" href="/etgeteens/intermediate">Intermediate Coder</a>
                  <a class="dropdown-item" href="/etgeteens/advance">Advance Coder</a>
                  <a class="dropdown-item" href="/etgeteens/web">Web development</a>
                  <a class="dropdown-item" href="/etgeteens/graphic">Graphics Design</a>
                  <a class="dropdown-item" href="/etgeteens/digital-marketing">Digital Marketing</a>
                </div>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="#">SIGN IN  </a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">  |</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SIGN UP</a>
              </li>-->

            </ul>
            <!-- Links -->

          </div> 
          <!-- Collapsible content -->

        </nav>