<% include partials/landing-header %>
 <!-- Full Page Intro -->
 <div class="view full-page-intro" style="background-image: url('/images/carreer.jpg'); 
 background-repeat: no-repeat; background-size: cover; height: 500px;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container-fluid">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-12 mb-4 white-text text-center">

            <h1 class="display-4 font-weight-bold mt-5">WE ACCELERATE YOUR CARREER GROWTH</h1>

            <hr class="hr-light">

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->
  <!-- Main Content -->
  <div class="container">
      <div class="row mt-5">
          <!-- First Collumn -->
          <div class="col-md-8">
              <h1><strong>ABOUT EDUTECH GENIUS HUB NIGERIA</strong></h1>
              <P>Edutech Genius Hub Nigeria is an ingenious ICT firm located in Jos, Plateau State, North-Central of Nigeria. We started as a coding club
                  for teenagers in secondary schools in Plateau state. We then grew to provide tech training to adults. We are committed to helping 
                  technology startups with software and hardware ideas to start up and scale as fast as possible. </P>
                <P>Etge Hub aims at stimulating economic growth in the technology community by providing key ingredients like mentorship and access 
                    to business expertise. We also provide networking opportunities, pitch development, product testing and introduction to investors.</P>
                <p>We also partner with social entreprises, investors, technology entusiast, government, media, tech 
                        companies and venture capitalists in and outside Nigeria.</p>
                <div class="row">
                        <div class="col-md-6">
                            <div class="img-responsive p-1"><img src="../images/we1.jpg" style="width: 340px"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-responsive p-1"><img src="../images/we2.jpg" style="width: 340px; height: 255px;"></div>
                        </div>
                        <!-- <div class="col-md-3">
                                <div class="img-responsive p-1"><img src="../images/inyang.JPG" style="width: 180px"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-responsive p-1"><img src="../images/inyang.JPG" style="width: 180px"></div>
                        </div> -->
                </div>
                
          </div>
          <!-- second Column -->
          <div class="col-md-4">
              <h2>A LITTLE BIT MORE ABOUT OUR WORK</h2>
              <p>We train Nigerians from the age of 5 upward on software and hardware development. We believe in the inherent human potential in our country
                  and we stop at nothing to give them the digital skills needed to play on the global stage.
              </p>
              <p>We also develop both software and hardware solutions to local problems. We develop mobile and web apps as solutions to some of these problems.
                  We are a platform for both young and old to live their education and tech dreams.
              </p>
              <div class="row">
                    <div class="col-md-">
                            <div class="img-responsive p-1"><img src="../images/me.JPG" style="width: 180px; height: 200px"></div>
                    </div>
                    <div class="col-md-">
                        <div class="img-responsive p-1"><img src="../images/we3.jpg" style="width: 180px; height: 200px"></div>
                    </div>
              </div>
          </div>
      </div>
  </div>

<% include partials/landing-footer %>