<% include partials/header %>
  <!--<div class="row">
    <div class="thumbnail">
      <div class="col-sm-12" style="background-image: url(../images/teachers_landing-image.jpg); background-size: cover; display: flex; flex-direction: column; align-items: center; height: 100vh; width: 100vw;">
      <button style="margin-left: 50%; margin-top: 48%;" type="button" class="btn btn-success">Sign up</button>
      </div>
    </div>
    div class="col-sm-6" style="background-image: url(../images/teachers_landing-image.jpg); background-size: cover; display: flex; flex-direction: column; align-items: center; height: 100vh; width: 100vw;">
  </div>-->
  <div class="container-fluid">
  <div class="row">
      <div class="col-sm-6" style="background-image: url(../images/joel.jpg); background-size: cover; display: flex; flex-direction: column; align-items: center; height: 100vh; width: 100%;">
      </div>
      <div class="col-sm-6">
        <h1>The Easiest Way To Learn In Schools</h1>
        <h3>We provide the curriculum, intuitive tools and all resources you need to run a successful code club. </h3>
      </div>
      <button>Sign up</button>
  </div>
  </div>

<% include partials/footer %>