<% include partials/landing-header %>
  
  <div class="blog-header">
    <div class="container blog-text">
      <h1><strong>EDUCATORS</strong></h1>
      <a href="/"><h3 class="text-center">Home</a>  <i class="fas fa-angle-right"></i> Educators</h3> 
    </div>
  </div>

  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Post-->
      <section class="mt-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-8 mb-4">

            <!--Featured Image-->
            <div class="card mb-4 wow fadeIn">

              <img src="/images/inyang.JPG" class="img-fluid" alt="">

            </div>
            <!--/.Featured Image-->
            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body">

                <p class="h5 my-4">SUBSCRIBE TO OUR DIGITAL CLUB TO MAKE YOUR STUDENTS DIGITAL CREATORS </p>


                <!-- <blockquote class="blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote> -->

                <!-- <p class="h5 my-4">BENEFIT TO KIDS WHO LEARN HOW TO CODE </p> -->

                <p>If you desire an exciting coding activities for your pupils/students, we can provide the best solution for you. All you need do is
                  subscribe to our coding club, while we do the rest for you.
                </p>

                <p>We categories our coding club into two sections:</p>
                  <ul>
                    <li>Fresh Coders for 5 - 10 years</li>
                      <p>Here we focus mainly on primary school pupils where we use drag and drop coding softwares to introduce kids to coding.</p>
                      <p>Pupils will learn how to build computer games, quiz apps, animation movies, and interactive, digital artwork, and other 
                        things they can imagine. Vital skills like team work, problem-solving, creative thinking, design
                        and communication will be developed in the course of this programme.
                      </p>
                    <li>Advance Coders for 11 - 16 years</li>
                      <p>Advance Coders learn new and exciting technology activities based on text-based programming languages such as HTML, CSS, JavaScript
                        and Python. They will use this skills to build computer games, mathematical animations, and making websites from scratch. A blend of 
                        creativity and design with computational thinking and problem solving are skills that will be instill in a child in the course of This
                        programme.
                      </p>
                  </ul>

                <p>Register your school for a coding club by contacting us:</p>
                <p>Call: 08039453998</p>
                <p>Or by sending us an email below:</p>

              </div>

            </div>
            <!--/.Card-->
            <!--Reply-->
            <div class="card mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">Sign up</div>
              <div class="card-body">

                <!-- Default form reply -->
                <form>

                  <!-- Comment -->
                  <div class="form-group">
                    <label for="replyFormComment">Your comment</label>
                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                  </div>

                  <!-- Name -->
                  <label for="replyFormName">Your School name</label>
                  <input type="name" id="replyFormName" class="form-control">

                  <br>

                  <!-- Email -->
                  <label for="replyFormEmail">Your e-mail</label>
                  <input type="email" id="replyFormEmail" class="form-control">


                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Post</button>
                  </div>
                </form>
                <!-- Default form reply -->



              </div>
            </div>
            <!--/.Reply-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">

            <!--Card : Dynamic content wrapper-->
            <div class="card mb-4 text-center wow fadeIn">

              <div class="card-header">Subscribe to our blog</div>

              <!--Card content-->
              <div class="card-body">

                <!-- Default form login -->
                <form>

                  <!-- Default input email -->
                  <label for="defaultFormEmailEx" class="grey-text">Your email</label>
                  <input type="email" id="defaultFormLoginEmailEx" class="form-control">

                  <br>

                  <!-- Default input password -->
                  <label for="defaultFormNameEx" class="grey-text">Your name</label>
                  <input type="text" id="defaultFormNameEx" class="form-control">

                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Subscribe</button>
                  </div>
                </form>
                <!-- Default form login -->

              </div>

            </div>
            <!--/.Card : Dynamic content wrapper-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <div class="card-header">Blogs</div>

              <!--Card content-->
              <div class="card-body">

                <ul class="list-unstyled">
                  <li class="media">
                    <img class="d-flex mr-3" src="/images/webdev.jpg" alt="Generic placeholder image" style="width: 100px; height: 100px;">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 black-text font-weight-bold">What is coding</h5>
                      </a>
                      Coding is what makes it possible for us to create computer software, apps and websites. 
                    </div>
                  </li>
                  <li class="media my-4">
                    <img class="d-flex mr-3" src="/images/teengirls.jpg" alt="An image" style="width: 100px; height: 100px;">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 black-text font-weight-bold">Nigerian Teenage Girls Won Technovation Competition</h5>
                      </a>
                      Five Nigerian Teenagers took part in the just concluded coding contest at silicon valley.
                    </div>
                  </li>
                  <li class="media">
                    <img class="d-flex mr-3" src="/images/code_with_scratch.jpg" alt="Generic placeholder image" style="width: 100px; height: 100px;">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 black-text font-weight-bold">Programming with Scratch</h5>
                      </a>
                      Scaratch is a programming software for outright beginners to learn coding.
                    </div>
                  </li>
                </ul>

              </div>
              <a href="/blogs" class="btn btn-outline-primary">View All Blogs</a>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Post-->

    </div>
  </main>
  <!--Main layout-->  


<% include partials/landing-footer %>