<% include partials/landing-header %>
        <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active" id="overlay">
          <div class="view" style="background-image: url('/images/webdev.jpg'); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn" id="carousel-text">
                <h1 class="mb-4">
                  <strong id="arts">We write the codes to solve every problem</strong>
                </h1>

                <!-- <p>
                  <strong id="arts">Every challenge in life can be overcome with codes.</strong>
                </p> -->

                <p class="mb-4 d-none d-md-block">
                  <strong id="arts">At etgehub, we teach how to code and also use codes to solve problems.</strong>
                </p>

                <!-- <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
                  free tutorial
                  <i class="fas fa-graduation-cap ml-2"></i>
                </a> -->
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </div>
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item" id="overlay">
          <div class="view" style="background-image: url('/images/codes.jpeg'); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn" id="carousel-text">
                <h1 class="mb-4">
                  <strong id="art">THE ART OF CREATIVE CODING</strong>
                </h1>

                <p>
                  <strong></strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

                <!-- <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
                  free tutorial
                  <i class="fas fa-graduation-cap ml-2"></i>
                </a> -->
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </div>
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item" id="overlay">
          <div class="view" style="background-image: url('/images/joel.jpg'); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn" id="carousel-text1">
                <h1 class="mb-4">
                  <strong>Teenagers too can code.</strong>
                </h1>

                <p>
                  <strong>One of our core vision is to introduce Teens to coding. <br>#EtgeTeensCode.</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

                <!-- <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
                  free tutorial
                  <i class="fas fa-graduation-cap ml-2"></i>
                </a> -->
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </div>
        </div>
        <!--/Third slide-->

      </div>
      <!--/.Slides-->

      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->
  <!--Main layout-->
  <main>
    <div class="container">
                           <!-- BEGINNING OF MANY COMMENTS THAT SHOULD BE REVIEWED ALL DIVS AND SECTIONS SHOULD BE UNCOMMENTED -->
      
      <!--Section: Main features & Quick Start-->
      <!-- <section> -->

        <!-- <h3 class="h3 text-center mb-5">About Etge Hub</h3> -->

        <!--Grid row-->
        <!-- <div class="row wow fadeIn"> -->

          <!--Grid column-->
          <!-- <div class="col-lg-6 col-md-12 px-4"> -->

            <!--First row-->
            <!-- <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Talents Development</h5>
                <p class="grey-text">We are aware of the increased need in talent development globally. Etge hub is a talent development hub created to help
                  produce world class talents needed to create the local solutions needed in our society. <button class="btn btn-"></button>
                </p>
              </div>
            </div> -->
            <!--/First row-->

            <!-- <div style="height:30px"></div> -->

            <!--Second row-->
            <!-- <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Incubation</h5>
                <p class="grey-text">Every great product starts with an idea. At Etge hub, we incubate entrepreneurial ideas and mentor them throughout the 
                  product development stage. We equip them with the right tools and resources needed to scale properly.</p> 
                <p class="grey-text">As an ingenious hub in we incubate both software and hardware ideas that has poentials to solve problems in our local 
                  communities ranging from social, environmental, education, energy, health and agriculture.
                </p>
              </div>
            </div> -->
            <!--/Second row-->

            <!-- <div style="height:30px"></div> -->

            <!--Third row-->
            <!-- <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Product Development</h5>
                <p class="grey-text">We develop products for our local client that meets internationa standard using the most up to date technologies.</p>
              </div>
            </div> -->
            <!--/Third row-->

          <!-- </div> -->
          <!--/Grid column-->

          <!--Grid column-->
          <!-- <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
            </div>
          </div> -->
          <!--/Grid column-->

        <!-- </div> -->
        <!--/Grid row-->

      <!-- </section> -->
      <!--Section: Main features & Quick Start-->

      <!-- <hr class="my-5"> -->

      <!--Section: Not enough-->
      <!-- <section> -->

        <!-- <h2 class="my-5 h3 text-center">Not enough?</h2> -->

        <!--First row-->
        <!-- <div class="row features-small mb-5 mt-3 wow fadeIn"> -->

          <!--First column-->
          <!-- <div class="col-md-4"> -->
            <!--First row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Free for personal and commercial use</h6>
                <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as
                  commercial projects.
                </p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/First row-->

            <!--Second row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">400+ UI elements</h6>
                <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
                </p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Second row-->

            <!--Third row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">600+ icons</h6> 
                <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Third row-->

            <!--Fourth row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Fully responsive</h6>
                <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop,
                  tablet or mobile phone. MDB
                  looks great on each screen.</p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Fourth row-->
          <!-- </div> -->
          <!--/First column-->

          <!--Second column-->
          <!-- <div class="col-md-4 flex-center">
            <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
              class="z-depth-0 img-fluid">
          </div> -->
          <!--/Second column-->

          <!--Third column-->
          <!-- <div class="col-md-4 mt-2"> -->
            <!--First row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">70+ CSS animations</h6>
                <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your
                  project and delight your visitors.
                </p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/First row-->

            <!--Second row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Plenty of useful templates</h6>
                <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Second row-->

            <!--Third row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy installation</h6>
                <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
                </p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Third row-->

            <!--Fourth row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy to use and customize</h6>
                <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep
                  customization. You will
                  easily adjust each component to suit your needs.</p>
                <div style="height:15px"></div>
              </div>
            </div> -->
            <!--/Fourth row-->
          <!-- </div> -->
          <!--/Third column-->

        <!-- </div> -->
        <!--/First row-->

      <!-- </section> -->
      <!--Section: Not enough-->
                         <!-- END OF MANY COMMENTS THAT SHOULD BE REVIEWED ALL DIVS AND SECTIONS SHOULD BE UNCOMMENTED -->


      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center"></h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Talent Development</h5>
                <p class="grey-text mt-2">We are aware of the increased need in talent development globally. Etge hub is a talent development hub created to help
                    produce world class talents needed to create the local solutions needed in our society.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Incubation</h5>
                <p class="grey-text">Every great product starts with an idea. At Etge hub, we incubate entrepreneurial ideas and mentor them throughout the 
                  product development stage. We equip them with the right tools and resources needed to scale properly.</p> 
                <p class="grey-text">As an ingenious hub in we incubate both software and hardware ideas that has poentials to solve problems in our local 
                  communities ranging from social, environmental, education, energy, health and agriculture.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Product Development</h5>
                <p class="grey-text">We develop products for our local client that meets international standard using the most up to date technologies.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Kids and Teens Code Club</h5>
                <p class="grey-text mt-2">One of our core believe is that every African child should be taught how to code. We have backed up this believe
                  by opening the hub to children from 5 to 17 years with a quarterly fee of N5,000.00. We also create code clubs in primary and secondary schools in Jos.
                </p>
                <p class="grey-text mt2">We organise holiday coding camps for them during holidays. We introduce these kids to both local and international
                  coding competitions for kids and teenagers.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->
                <!-- BEGINNING OF MULTIPLE COMMENTED SECTION -->
        <!--Second row-->
        <!-- <div class="row features-small mt-4 wow fadeIn">
            MDB is integrated with newest jQuery. Therefore you can use all the latest
            features which come along with
            it. -->
          <!--Grid column-->
          <!-- <div class="col-xl-3 col-lg-6"> -->
            <!--Grid row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Modularity</h5>
                <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to use
                  libraries including all features as
                  well as modules for CSS (SASS files) and JS.</p>
              </div>
            </div> -->
            <!--/Grid row-->
          <!-- </div> -->
          <!--/Grid column-->

          <!--Grid column-->
          <!-- <div class="col-xl-3 col-lg-6"> -->
            <!--Grid row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Technical support</h5>
                <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to
                  contact us.
                </p>
              </div>
            </div> -->
            <!--/Grid row-->
          <!-- </div> -->
          <!--/Grid column-->

          <!--Grid column-->
          <!-- <div class="col-xl-3 col-lg-6"> -->
            <!--Grid row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Flexbox</h5>
                <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
              </div>
            </div> -->
            <!--/Grid row-->
          <!-- </div> -->
          <!--/Grid column-->

          <!--Grid column-->
          <!-- <div class="col-xl-3 col-lg-6"> -->
            <!--Grid row-->
            <!-- <div class="row">
              <div class="col-2">
                <i class="far fa-file-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">SASS files</h5>
                <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
              </div>
            </div> -->
            <!--/Grid row-->
          <!-- </div> -->
          <!--/Grid column-->

        <!-- </div> -->
        <!--/Second row-->

      </section>
      <hr class="mb-5">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="/images/inyang.JPG" class="img-fluid z-depth-1-half"
              alt="">

          </div>
          <!--Grid column-->

          <!--Grid column--> 
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Awakening The Genius In Nigerian Youths</h3>
            <p>There is greatness lurk within every Nigerian. We believe in the power of education and technology to awaken the sleeping (
              <strong>Genius</strong> ) in Nigeria.</p>
            <p>To achieve this aim, we provide the platform for young people to learn, imagine, create and earn. We encourage and empower them with 
              the 21st century digital skills needed to be innovative and inventive</p>
            <p>At the forefront of our mission is to employ a catch them young approach. Here we introduce coding to teens in primary and 
              secondary schools through our coding club. We offer internship positions to those in higher institutions where we train them 
              and give incubation to those with viable ideas to scale. </p>
            <!-- Main heading -->

            <!-- <hr>

            <p>
              <strong>400+</strong> material UI elements,
              <strong>600+</strong> material icons,
              <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
              <strong>Free for personal and commercial use.</strong>
            </p> -->

            <!-- CTA -->
            <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-grey btn-md">See More
              <!-- <i class="fas fa-download ml-1"></i> -->
            </a>
            <!-- <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-grey btn-md">Live
              demo
              <i class="far fa-image ml-1"></i>
            </a> -->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </section>
      <hr class="mb-5">
      <!--Section: Main info-->

      <!-- <hr class="my-5"> -->

      <!--Section: More-->
    </div>
      <section id="ourservices">
    <div class="container">

          <h2 class="my-5 h3 white-text text-center">Our Services</h2> 
  
          <!--First row-->
          <div class="row features-small mt-5 wow fadeIn">
  
            <!--Grid column-->
            <div class="col-xl-4 col-lg-8">
              <!--Grid row-->
              <div class="row">
                <div class="col-2">
                  <i class="fab fa-android white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2 pl-3">
                  <h5 class="feature-title white-text font-bold mb-1">Android</h5>
                  <p class="white-text mt-2">We teach core beginner's courses on android development and also build apps for clients. 
                  </p>
                </div>
              </div>
              <!--/Grid row-->
            </div>
            <!--/Grid column-->
  
            <!--Grid column-->
            <div class="col-xl-4 col-lg-8">
              <!--Grid row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-laptop-code white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="feature-title white-text font-bold mb-1">Web</h5>
                  <p class="white-text">We teach courses on web development for both entry level and advanced web developers. We also 
                    handle web development projects.</p> 
                  </p>
                </div>
              </div>
              <!--/Grid row-->
            </div>
            <!--/Grid column-->
  
            <!--Grid column-->
            <div class="col-xl-4 col-lg-8">
              <!--Grid row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-object-ungroup white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="feature-title white-text font-bold mb-1">Graphic Design</h5>
                  <p class="white-text">If you are curious about being a graphic designer, then take a visit to our hub. If you want to 
                    give your business a corporate branding, then our graphic and brand team can do the magic for you.</p>
                </div>
              </div>
              <!--/Grid row-->
            </div>
            <!--/Grid column-->
  
            <!--Grid column-->
  
          </div>
          <!--Second row-->
          <div class="row features-small mt-5 wow fadeIn">
  
              <!--Grid column-->
              <div class="col-xl-4 col-lg-8">
                <!--Grid row-->
                <div class="row">
                  <div class="col-2">
                    <i class="far fa-life-ring white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 mb-2 pl-3">
                    <h5 class="feature-title white-text font-bold mb-1">Pre Incubation</h5>
                    <p class="white-text mt-2">This programme mentors and encourage you to start your business and give you community support to scale. 
                    </p>
                  </div>
                </div>
                <!--/Grid row-->
              </div>
              <!--/Grid column-->
    
              <!--Grid column-->
              <div class="col-xl-4 col-lg-8">
                <!--Grid row-->
                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-code white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 mb-2">
                    <h5 class="feature-title white-text font-bold mb-1">Code Clubs</h5>
                    <p class="white-text">This is targetted at introducing young people to coding early in life. Give your child a digital future by 
                      enrolling in our code club.driven Make your school technological driven by signing up with our code club</p> 
                    </p>
                  </div>
                </div>
                <!--/Grid row-->
              </div>
              <!--/Grid column-->
    
              <!--Grid column-->
              <div class="col-xl-4 col-lg-8">
                <!--Grid row-->
                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-chalkboard-teacher white-text fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 mb-2">
                    <h5 class="feature-title white-text font-bold mb-1">Training</h5>
                    <p class="white-text">We do trainings on software development, STEM, and entrepreneurship using lean canvas. </p>
                  </div>
                </div>
                <!--/Grid row-->
              </div>
              <!--/Grid column-->
    
              <!--Grid column-->
    
            </div>
    </div>
      </section>

      <!--Section: Contact-->
      <div class="container">
          <hr>
      <section id="contact">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 col-md-12">
                    <!-- Form contact -->
                    <form class="p-5 grey-text">
                        <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                            <input type="text" id="form3" class="form-control form-control-sm">
                            <label for="form3">Your name</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form2" class="form-control form-control-sm">
                            <label for="form2">Your email</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
                            <input type="text" id="form32" class="form-control form-control-sm">
                            <label for="form34">Subject</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                            <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                            <label for="form8">Your message</label>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                        </div>
                    </form>
                    <!-- Form contact -->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-md-12">

                    <!--Grid row-->
                    <div class="row text-center">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-3">

                            <p><i class="fa fa-map fa-1x mr-2 grey-text"></i>9 Yingi Rayfield Road, Jos. Plateau State, Nigeria</p>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <p><i class="fa fa-building fa-1x mr-2 grey-text"></i>Mon - Sat, 8:00-16:00</p>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <p><i class="fa fa-phone fa-1x mr-2 grey-text"></i>08039453998</p>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Google map-->
                    <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </div>
  </main>
  <!--Main layout-->

  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">

    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                            <i class="fab fa-facebook white-text mr-4"></i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus white-text mr-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fab fa-linkedin white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong class="text-uppercase font-weight-bold" > Etge hub</strong>
                </h6>
                <p>Edutech Genius Hub is an ICT hub located in the middle belt region of Nigeria</p>
                <p><i class="fas fa-map-marker-alt"></i>  9 Yingi Rayfield Road, Jos Plateau State</p>
                <p><i class="fas fa-phone"></i>  08039453998</p>
                <p><i class="fas fa-at"></i>  edutechgeniushub@gmail.com</p>
                <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p> -->
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Services</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Coding For Teens</a>
                </p>
                <p>
                    <a href="#!">Web Development</a>
                </p>
                <p>
                    <a href="#!">Android Devvelopment</a>
                </p>
                <p>
                    <a href="#!">Trainings</a>
                </p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Service Charge</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> 9 Yingi Rayfield Road Jos, plateau State, Nigeria</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> edutechgeniushub@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +234 803 945 3998</p>
                <p>
                    <i class="fa fa-print mr-3"></i> +234 701 117 9446</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> etgehub.com</a>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>