<% include partials/landing-header %>

    </header>
    <!--Main Navigation-->

    <div class="blog-header">
    <div class="container blog-text">
        <h1><strong>TALENT DEVELOPMENT</strong></h1>
        <p>Home  <i class="fas fa-angle-right"></i> Talent Development</p> 
    </div>
    </div>


    <!--Main layout-->
    <main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Post-->
        <section class="mt-4">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">
                <blockquote class="blockquote text-center mt-5"> “Talent is like a flower, you have to fully tend to it if you want something beautiful.” 
                    <footer class="blockquote-footer"> Marinela Reka</footer>
                </blockquote>
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="fas fa-code p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Web Development</strong></p>
                        <p>This tract is design to breed full-stack web developers</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fab fa-android p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Android Development</strong></p>
                        <p>This tract is design to breed android developers</p>
                    </div>
                    <div class="col-md-4">
                            <i class="fas fa-pencil-alt p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Graphics Design</strong></p>
                        <p>This tract is design to produce creative graphic designers</p>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="fab fa-digital-ocean p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Digital Marketing</strong></p>
                        <p>This tract is design to breed full-stack web developers</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-business-time p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Entrepreneurial development</strong></p>
                        <p>This tract is design to breed android developers</p>
                    </div>
                    <!-- <div class="col-md-4">
                            <i class="fas fa-pencil-alt p-3 m-3" style="border: 5px solid gray; color: gray; border-radius: 100%; font-size: 30px; font-weight: 50px"></i>
                        <p class="track-header"><strong>Graphics Design</strong></p>
                        <p>This tract is design to produce creative graphic designers</p>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSiugonXHv5I9_uzLkwdCVn3Muudts8KEQXaMgs42FIwWTug/viewform?usp=sf_link" 
                        class="btn btn-outline-active btn-lg">Enroll</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
        

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

            <!--Card: Jumbotron-->
            <!-- <div class="card blue-gradient mb-4 wow fadeIn"> -->

                <!-- Content -->
                <!-- <div class="card-body text-white text-center">

                <h4 class="mb-4">
                    <strong>Learn Bootstrap 4 with MDB</strong>
                </h4>
                <p>
                    <strong>Best & free guide of responsive web design</strong>
                </p>
                <p class="mb-4">
                    <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video
                    and written versions available. Create your own, stunning website.</strong>
                </p>
                <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-md">Start
                    free tutorial
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>

                </div> -->
                <!-- Content -->
            <!-- </div> -->
            <!--Card: Jumbotron-->

            <!--Card : Dynamic content wrapper-->
            <div class="card mb-4 text-center wow fadeIn">

                <div class="card-header">Subscribe to our blog</div>

                <!--Card content-->
                <div class="card-body">

                <!-- Default form login -->
                <form>

                    <!-- Default input email -->
                    <label for="defaultFormEmailEx" class="grey-text">Your email</label>
                    <input type="email" id="defaultFormLoginEmailEx" class="form-control">

                    <br>

                    <!-- Default input password -->
                    <label for="defaultFormNameEx" class="grey-text">Your name</label>
                    <input type="text" id="defaultFormNameEx" class="form-control">

                    <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Sign up</button>
                    </div>
                </form>
                <!-- Default form login -->

                </div>

            </div>
            <!--/.Card : Dynamic content wrapper-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

                <div class="card-header">Latest in our Blog</div>

                <!--Card content-->
                <div class="card-body">

                <ul class="list-unstyled">
                    <li class="media">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">What is coding</h5>
                        </a>
                        Coding is what makes it possible for us to create computer software, apps and websites. 
                    </div>
                    </li>
                    <li class="media my-4">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="An image">
                    <div class="media-body">
                        <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">Nigerian Teenage Girls Won Technovation Competition</h5>
                        </a>
                        Five Nigerian Teenagers took part in the just concluded coding contest at silicon valley.
                    </div>
                    </li>
                    <li class="media">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">Programming with Scratch</h5>
                        </a>
                        Scaratch is a programming software for outright beginners to learn coding.
                    </div>
                    </li>
                </ul>

                </div>

            </div>
            <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        </section>
        <!--Section: Post-->

    </div>
    </main>
    <!--Main layout-->  

<% include partials/landing-footer %>