<% include partials/header %>
<!-- Landing Image-->
    <div class="row">
      <div class="col-sm-12">
        <div class="carousel-item active">
            <div class="card card-image" id="landing" style="background-image: url(../images/stem1.png);">
            </div>
        </div>
      </div>
    </div>
            <!--Web Track Section-->
  <div class="container">  
    <div class="row">
        <div class="col-sm-12">
          <h3>Web Track: Web Development Courses</h3>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="#"><img src="../images/html5.jpg" height="200" id="img"></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="#"><img src="../images/css-logo.png" height="200" id="img"></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="#"><img src="../images/js.jpg" height="200" id="img"></a>
            </div>
          </div>
        </div>
      </div>
    <!--Our Contact-->
    <div class="row-contact" style="text-align: center">
      <div class="col-sm-12">
        <h2>You are at the etge of history. With coding skills, you are on the right side of history.</h2>
      </div>
      <div class="col-sm-12">
       <p>We are a learning institution aided by computer technology.</p>
      </div>
      <div class="col-sm-12">
       <p>Our Address:</p>
      </div>
      <div class="col-sm-12">
       <p>3rd Floor, Taen Business Complex<br> Opposite Nitel Office,<br> Old Airport Junction, Jos, Plateau State<br> etgehubteens@gmail.com.<br>08039453998</p>
      </div>
    </div>
  </div>
<% include partials/footer %>