*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  font-family: Lato;
  background-color: #c0c0c0
  /*padding-top: 70px; */
}

html{
  /*height: 100%;*/
}

#navbar{
  /*margin-bottom: 500px;*/
  /*background-color: forestgreen;*/
  height: 50px;
}

.btn-success{
  /*margin-top: 200px;*/
  color: white;
  transition: all 1s;
  padding: 10px;
}

.btn-success:hover{
  box-shadow: 0px 0px 5px 2px white;
  background: forestgreen;
  border-radius: 50px;
}

#icon{
  font-size: 4em;
}

#logo{
  height: 80px;
  width: 80px;
}  

#landing{
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2em;
  color: forestgreen;
  text-shadow: 2px 2px 10px #000;
  padding-top: 30%;
}

/*#content{
  text-align: center; 
  padding-top: 10%;
  margin-bottom: 50%;
  background-image: url(../images/stem1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}*/

/*h1{
  color: white;
  margin-top: 80vh;
  font-weight: 700;
  font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1)
}*/

#landing h5{
  padding-top: 0px;
  color: white;
}

#buthr{
  width: 80%;
  /*margin-top: 100px;*/
  /*color: blue;*/
}

#about{
  /*padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;*/
  text-align: center;
}

.weteach{
  color: black;
}

#img{
  width: 100%;
}

#empower{
  text-align: center;
  margin-top: 10vh;
}

#empower h5{
  margin-bottom: 5vh;
}

hr{
  background-color: black;
  margin-left: 10%;
}

#services{
  text-align: center;
  margin-top: 10vh;
}

.serhr{
  width: 30px;
}

h3{
  color: green;
}

h4{
  font-weight: bolder;
}

footer{
  text-align: center;
  color: blue;
  padding-top: 15px;
  margin-top: 15px;
}