/* Full Page Carousel itself*/
.carousel {
    height: 100%; }
    .carousel .carousel-inner {
      height: 100%; }
      .carousel .carousel-inner .carousel-item,
      .carousel .carousel-inner .active {
        height: 100%; }
  
  /* Navbar animation */
  .navbar {
    background-color: #1C2331; }
  
  .top-nav-collapse {
    background-color: #1C2331; }
  
  /* Adding color to the Navbar on mobile */
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1C2331; } }
  
  /* Footer color for sake of consistency with Navbar */

  .page-footer {
    background-color: #1C2331; }

  #ourservices{
      background-color: #1C2331;
      color: white;
    }

  .header-text{
    color: #3498db;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .view{
      height: 100vh;
  }

  #carousel-text{
      font-size: 2em;
  }

  #carousel-text1{
    padding-bottom: 20%;
    padding-right: 40%;
  }

  .carousel-text1{
      font-size: 2rem;
      /* padding-right: 40%; */
      /* padding-bottom: 40%; */
      /* text-align: center; */
      /* color: blue; */
  }

  #art{
    font-size: 2em;
  }

  #arts{
    font-weight: bolder;
    font-size: 3rem;
  }

  .blog-header{
    background-color: #1C2331;
    margin-top: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  a{
    color: white;
  }

  .track-header{
    font-size: 20px;
    font-weight: bolder;
  }

  h1 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
  } 
  h3 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
  } 

  h5{
    text-transform: uppercase;
  }
  p { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
  } 
  blockquote { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
  } 
  pre { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
  }
  
  .hr-light{
    width: 70%;
  }