html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/images/inyang.JPG")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
    color: blueviolet;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; 
    font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
    h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; 
      font-variant: normal; font-weight: 700; line-height: 15.4px; } 
      p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; 
        font-variant: normal; font-weight: 400; line-height: 20px; } 
        blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; 
          font-variant: normal; font-weight: 400; line-height: 30px; } 
          pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; 
            font-variant: normal; font-weight: 400; line-height: 18.5714px; }
  